.cardValues {
   @apply w-[auto] h-[22.3rem] bg-[#FEF3DD] flex flex-col justify-center items-center  p-20;
   &:nth-of-type(2n) {
      @apply bg-blacks;
      .cardValues-title {
         @apply text-withes;
      }
      .cardValues-subtitle {
         @apply text-withes;
      }
   }

   @screen laptop {
      height: calc(37rem * var(--scale));
      padding-top: calc(4rem * var(--scale));
   }
}

.imag {
   @apply w-[2.403rem];
   @screen laptop {
      width: calc(4.713rem * var(--scale));
      height: calc(5.916rem * var(--scale));
   }
}
.i {
   @apply w-full h-full object-cover;
}
.cardValues-conta {
   @apply flex flex-col  gap-3;
}
.cardValues-title {
   @apply font-semibold text-blacks text-[1.4rem];
   @screen laptop {
      font-size: calc(2.2rem * var(--scale));
   }
}
.cardValues-subtitle {
   @apply font-light text-[1.4rem] text-textp;
   @screen laptop {
      font-size: calc(1.9rem * var(--scale));
   }
}
